@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}
html,body{height: 100vh;font-family: 'Roboto', sans-serif;}

:root{
	--df:flex;
	--jcc:center;
	--jca:space-around;
	--jcb:space-between;
	--ai:center;
	--bgp:#000;
	--bgb:#fff;
}

.center{display:var(--df);justify-content: var(--jcc);align-items: var(--ai);}
.margin{display:var(--df);justify-content: var(--jca);align-items: var(--ai);}
.space{display:var(--df);justify-content: var(--jcb);align-items: var(--ai);}
.corPosion{background-color: #B380B7}
.corGrass{background-color: #92B066}

.brd{border: 1px solid;background-color:var(--bgb)}

.box{width: 1000px; margin: 0 auto; height: auto; flex-wrap: wrap}

.container{width: 255px; height:auto; border-radius: 1rem; margin: 2rem auto}
.topo{width: 100%; height: 250px;text-align: center; padding: .5rem; background-color: #3ABCA3; border-radius: 1rem}
.topo h2{ color: #fff; margin: 1rem 0; text-align: left; padding: .3rem}
.icons{height: 44px; padding: .5rem}
.num{font-weight: bold; color: rgba(0,0,0, .3)}
.btns button{ width: 65px; height: 20px; border-radius: .4rem; border: 0;  color: #fff; font-size: 7pt;}
.topo img{ width: 150px; margin: 0 auto; position: relative; z-index: 1;}
.base{ padding: 1rem; height: 250px; background-color:#fff; border-radius: 1rem; border: 1px solid #ccc;  position: relative; top: -2rem}
.base h1{text-align: right; margin-top: 6rem;} 
.base li{list-style: none; margin-top: 2rem}